---
name: Dependencies

"on":
  pull_request:
    paths:
      - .github/workflows/dependencies.yml
  schedule:
    # Run schedule every day at 4:44 UTC
    - cron: "44 4 * * *"
  workflow_dispatch:

jobs:
  latest:
    name: Latest versions
    runs-on: ubuntu-latest

    permissions:
      packages: read
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run tests with latest dependency versions
        uses: devcontainers/ci@v0.3
        with:
          cacheFrom: ghcr.io/jdno/typed-fields-devcontainer
          push: never
          runCmd: just check-latest-deps
