---
name: Dependencies

"on":
  pull_request:
    paths:
      - .github/workflows/dependencies.yml
  schedule:
    # Run schedule every day at 4:44 UTC
    - cron: "44 4 * * *"
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  latest:
    name: Latest versions
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          persist-credentials: false

      - name: Install Flox
        uses: flox/install-flox-action@819183ecd53757be53d66f492eeb7d689687a66b # 2.1.0

      - name: Remove Flox installer (if it exists)
        run: rm -f flox.x86_64-linux.deb

      - name: Run check with Just
        uses: flox/activate-action@bdcbcf8d84af6f503e588ae4125e48133787df95 # 1.0.0
        with:
          command: just check-latest-deps
