---
name: Release

"on":
  release:
    types: [published]

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      packages: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Authenticate with crates.io
        id: auth
        uses: rust-lang/crates-io-auth-action@v1

      - name: Publish crate
        uses: devcontainers/ci@v0.3
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        with:
          cacheFrom: ghcr.io/jdno/typed-fields-devcontainer
          push: never
          runCmd: just publish
